<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:text="${title}">Jadwal Khotib</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav class="navbar" th:fragment="navbar">
    <div class="navbar-container">
        <a class="navbar-brand" th:href="@{/}">Jadwal Muballigh</a>
        <ul class="navbar-nav">
            <li><a th:href="@{/}">Dashboard</a></li>
            <li><a th:href="@{/jadwal}">Jadwal</a></li>
            <li><a th:href="@{/khotib}">Khotib</a></li>
            <li><a th:href="@{/masjid}">Masjid</a></li>
            <li><a th:href="@{/area}">Area</a></li>
        </ul>
    </div>
</nav>

<footer th:fragment="footer">
    <script th:src="@{/js/app.js}"></script>
</footer>

</body>
</html>
